<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ the_title }}</title>

  <link rel="stylesheet" href="static/style.css">
</head>
<body>

  <header>
    <h1>Finanças Inteligentes</h1>
    <img src="img/moeda.png" alt="ícone de moeda">
    <p>Finanças para todos</p>

    <nav>
      <a href="http://localhost:5000/home">Início</a>
      <a href="#">Educação Financeira</a>
      <a href="#">Investimentos</a>
      <a href="#">Notícias</a>
      <a href="#">Ferramentas</a>
    </nav>
  </header>


    {% block body %}

    {% endblock %}

    <footer>
        <p>Copyright © 2023</p>
    </footer>
</body>
</html>