{% extends 'base.html'%}

{% block body %}
<main>
  <div class="login-container">
    <h2>Login</h2>
    <form class="login-form">
      <label for="username">Usuário:</label>
      <input type="text" id="username" name="username" required>

      <label for="password">Senha:</label>
      <input type="password" id="password" name="password" required>

      <button type="submit" onclick="window.location.href='http://localhost:5000/cadastro'">Entrar</button>
    </form>
  </div>
 
</main>
{% endblock %}