{% extends 'base.html'%}

{% block body %}
<main>
  <form action="autenticar" method="post">
      <div class="campo">
        <label for="email">E-mail:</label>
        <input type="email" name="email" id="email" required>
      </div>
      <div class="campo">
        <label for="senha">Senha:</label>
        <input type="password" name="senha" id="senha" required>
      </div>
      <div class="botao">
        <input type="submit" value="Entrar">
      </div>
    </form>
    <button onclick="window.location.href='http://localhost:5000/cadastro'">Cadastrar</button>

</main>
{% endblock %}